<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}blog{% endblock %} - Symblog</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href='https://fonts.google.com/specimen/Bahiana' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Homenaje|Josefin+Slab|Orbitron" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Cutive+Mono|Frijole|Josefin+Slab|Julius+Sans+One|Miss+Fajardose|Montez|Nixie+One|Rock+Salt|Six+Caps|Special+Elite|Syncopate" rel="stylesheet">

        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}
                <nav>
                    <ul class="navigation">
                        <li><a href="{{ path('BloggerBlogBundle_homepage') }}">Home</a></li>
                        <li><a href="{{ path('BloggerBlogBundle_about') }}">About</a></li>
                        <li><a href="{{ path('BloggerBlogBundle_contact') }}">Contact</a></li>
                    </ul>
                </nav>
            {% endblock %}
        </div>

        <hgroup>
            <h2>{% block blog_title %}<a href="{{ path('BloggerBlogBundle_homepage') }}">#Maxim</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a href="{{ path('BloggerBlogBundle_homepage') }}"> my blog  </a>{% endblock %}</h3>
        </hgroup>
    </header>

    <section class="main-col">
        {% block body %}{% endblock %}
    </section>
    <aside class="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>

    <div id="footer">
        {% block footer %}
            Google + <a href="https://plus.google.com/u/0/109998705220381704214">Sobko Maxim</a>
        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>
